
<div class="primary-reply-container" data-reply-id="{{this.id}}">
    <div style="height:30px;"></div>
    <div class="container">
        {{!-- <span class="likes-count">120</span> 
        <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="{{id}}">&#9734;</span> --}}
        <i class="bi bi-person-circle text-primary" style="font-size: 2rem;"></i>
        <span class="username ml-2 font-weight-bold color-blue">{{user.username}}:</span>
    </div>
    <!-- Comment -->
    <div class="bg-white rounded py-1 m-2 border border-primary row">
        <div class="col-11">
            <span class="comment-text ml-2">{{replies_content}}</span>
        </div>
        <div class="col-1 d-flex justify-content-end"> 
            <div class="button-container">
                {{#if (eq userId user_id)}}
                    <i class="fas fa-bars hamburger-icon mt-1 ml-1"></i>
                    <button type="button" class="btn btn-xs btn-warning mt-1 edit-reply-btn hamburger-hide" data-put-id="{{this.id}}">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-danger mt-1 delete-reply-btn hamburger-hide" data-delete-id="{{this.id}}">
                        <i class="bi bi-trash"></i>
                    </button>
                {{/if}}
            </div>
        </div>
    </div>
    
    <div class="col-12 d-flex justify-content-between align-items-bottom thin-row-15">
        <p id="comment-metadata" class="text-muted"></p>
        <p id="comment-metadata" class="text-muted">{{formatDate updated_at}}</p>
    </div>

{{!-- EDIT POST REPLY --}}
    <div class="edit-reply-form-container container-5 pr-3">
        <form class="edit-reply-form" style="display:none">
            <textarea name="edit-replies_content" class="form-control bg-white rounded px-3 border m-2 border-warning border-thick" rows="3">{{replies_content}}</textarea>

            <!-- The submit button -->
            <button type="submit" class="btn btn-sm btn-warning mb-4 mx-2">
                Update Comment
            </button>

            <!-- The cancel button -->
            <button type="button" class="btn btn-sm btn-danger cancel-btn mb-4">
                Cancel
            </button>
        </form>

    </div>
</div>